.hero {
  min-height: 80vh;
  background-color: aquamarine;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('../../images/hero.jpg');
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content {
  z-index: 100;
}

.shape-container {
  position: relative;
  margin-top: 50px;
}

.shape {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.top-courses {
  position: relative;
  margin-top: -200px;
}

.top-course {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 400px;
  height: 114px;
  box-shadow: 0px 10px 30px -3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px 20px;
}
